<mat-card class="exemple-card">
<div class="flex fill column lista-celulares">
  <div class="flex row celular" *ngFor="let celular of appService.celulares">
    <img [src]="celular.urlImagem">

    <mat-card-content>
    <div class="grow flex column descricao-celular">
 
      <div>
        <h2>
          {{ celular.nome }}
        </h2>
        <p>
          {{ celular.descricao }}
        </p>
      </div>
    </div>  
    </mat-card-content>
         <div class="grow">
        <button (click)="detalhes(celular)">DETALHES</button> 
      </div>
</div>
</div>
<div class="well">
<button mat-raised-button color="accent" (click)="navegar()">Navegar para cadastro</button>
</div>
</mat-card>
