<mat-card class="exemple-card">
<div class="flex fill column lista-celulares">
  <div class="flex row celular" *ngFor="let celular of celulares">
    <img [src]="celular.urlImagem">

    <mat-card-content>
    <div class="grow flex column descricao-celular">

      <div>
        <h2>
          {{ celular.nome }}
        </h2>
        <p>
          {{ celular.descricao }}
        </p>
        <p>
          {{ celular.memoria }}
        </p>
        <p>
          {{ celular.marca }}
        </p>
        <p>
          {{ celular.valor }}
        </p>
      </div>
    </div>  
    </mat-card-content>
  
        <div class="grow">
        <button (click)="minhafuncao()">DETALHES</button> 
      </div>
</div>
</div>
</mat-card>